doctype html
html
     head
        meta(charset UTF-8)
        title Slips, Rips, and KO Clips!
     body
        h1 Slips, Rips, and KO Clips!
        p from 
         a(href="https://www.mmamania.com") MMAMania.com
        ul
          each item in mediaItems
            iframe(width='660', height='1115', src=item, frameBorder="0", scrolling="no", allowfullscreen="yes")